@model IEnumerable<EmpresaT3.Models.Logs>

<h1>Huellas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
                    @if(item.Operacion == "Productos")
                    {
                        <a asp-controller="Productos" asp-action="Details" asp-route-id="@item.Producto">Ver</a>
                    }
                    else if(item.Operacion == "Categorias")
                    {
                        <a asp-controller="Categorias" asp-action="Details" asp-route-id="@item.Producto">Ver</a>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IpAddress)*@
                Protegido
            </td>
            
        </tr>
}
    </tbody>
</table>
