@using EmpresaT3.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using System.Web;
@using System.Web.Mvc;

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">Lista de Productos</h3>




<form>
    <!--Busqueda por nombre-->
    <label>Filtrar por nombre: </label>
    <input type="text" name="searchByName" />
    <!--Busqueda por categoria-->
    <br/>
    <label>Filtrar por categoría</label>
    <select name="searchByCategory">
        @if(ViewBag.CurrentCategory != null)
        {
            <option value="@ViewBag.CurrentCategory">@ViewBag.CurrentCategory</option>
        }
        <option value="">Todos</option>    
        @foreach (var item in ViewBag.Categoria)
        {
            <option value="@item.Categorias">@item.Categorias</option>
        }
    </select>
    <input type="submit" value="Buscar" />
</form>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i><strong>+</strong>Agregar</a>
    </p>
}
<table class="table color_fondo_tabla">
    <tbody class="table color_fondo_tabla">
        <div class="orden row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in ViewBag.OnePageOfProducts)
            {
                <div class="col">
                    <div class="card h-100">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="@FileLocation.RetriveFileFromFolder@item.ProfilePicture" class="img-thumbnail" height="500" width="500" asp-append-version="true" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">@item.Descripcion</p>
                            <p class="card-text">@item.Categoria</p>
                        </div>
                        <div class="card-footer">
                            <small class="card-text">$@item.Precio</small>
                        </div>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0">Editar<i class="fa fa-pencil-alt"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0">Borrar<i class="fa fa-trash-alt"></i></a>
                        </p>
                            
                    }
                </div>
            }
        </div>
    </tbody>
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, currentName=ViewBag.CurrentName, currentCategory=ViewBag.CurrentCategory }) )